.colour-primary{
    background-color: #cb8923;
}

.colour-primary-dark{
    background-color: #8a5d18;
}

.colour-accent1{
    background-color: #cb2365;
}

.colour-accent1-dark{
    background-color: #8a1845;
}

.colour-accent2{
    background-color: #23b9cb;
}

.colour-accent2-dark{
    background-color: #187e8a;
}