{% import "bootstrap/wtf.html" as wtf %}
<!-- Default form login -->
<form class="text-center border border-light p-5" action="/" method="POST">

    <p class="h4 mb-4">Sign in</p>

    <!-- Username -->
    {{form.hidden_tag()}}
    {{wtf.form_field(form.username)}}

    <!-- Password -->
    {{wtf.form_field(form.password)}}

    <!-- Sign up button -->
    <button class="btn btn-info my-4 btn-block" type="submit">Sign in</button>

    <hr>

    <p>Not a member?
        <a href="{{url_for ('signup') }}">Register</a>
    </p>

</form>
<!-- Default form login -->