{% import "bootstrap/wtf.html" as wtf %}

<!-- Default form register -->
<form class="text-center border border-light p-5" action="{{url_for ('signup') }}" method="POST">

    <p class="h4 mb-4">Sign up</p>
    {{form.hidden_tag()}}

    <!-- Username -->
    {{wtf.form_field(form.username)}}

    <!-- E-mail -->
    {{wtf.form_field(form.email)}}

    <!-- Password -->
    {{wtf.form_field(form.password)}}

    <!-- Sign up button -->
    <button class="btn btn-info my-4 btn-block" type="submit">Sign up</button>

    <hr>

    <!-- Terms of service -->
    <p>By clicking
        <em>Sign up</em> you agree to our
        <a href="" target="_blank">terms of service</a>

</form>
<!-- Default form register -->